<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a style="font-size: 30px;" class="navbar-brand" href="{{ site.url }}"><b>Shekhar Singh</b></a>
        </div>
        <div id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://shekharsingh.com/index.html">TECH</a></li>
                <li><a href="https://shekharsingh.com/outdoor.html">OUTDOOR</a></li>
                <li><a href="https://shekharsingh.com/nontech.html">NON-TECH</a></li>
                <li><a href="https://shekharsingh.com/books.html">BOOKS</a></li>
                <li><a href="https://shekharsingh.com/about.html">ABOUT</a></li>
            </ul>
        </div>
    </div>
</nav>