.fa{ padding: 5px;transition: all .2s ease-in-out; }
.fa:hover { transform: scale(1.1); }
.fa-facebook:hover { color: #3b5998; }
.fa-twitter:hover { color: #55acee; }
.fa-linkedin:hover { color: #287bbc; }
.fa-google-plus:hover { color: #dc4e41; }
.fa-github:hover { color: #333333; }
.fa-stack-overflow:hover { color: #fe7a15; }
.fa-quora:hover { color: #a82400; }
.fa-wordpress:hover { color: #21759b; }

p{
	text-align: justify;
}